<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/tailwindcss.js"></script>
    <script>
        tailwind.config = {
            prefix: 'tw-'
        }
    </script>

    <title>@ViewBag.Title - Ayva</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark tw-bg-yellow-400">
        <div class="container">
            <a class="navbar-brand tw-flex tw-items-center" href="@Url.Action("index", "Home")">
                <img src="~/Images/logo.png" width="30" class="tw-mr-1"/>
                Ayva
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Gezintiyi aç/kapat" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ayva Üretim", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        if (HttpContext.Current.User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Yönetim Paneli", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Slider Paneli", "Index", "Slider", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        <li>@Html.ActionLink("Çıkış Yap", "LogOut", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Giriş Yap", "Login", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Kayıt Ol", "SignUp", "Auth", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="tw-max-w-full tw-overflow-hidden">
        <!-- container body-content-->
        @RenderBody()
        
        <footer class="bg-black p-3">
            <p class="text-white text-center">&copy; @DateTime.Now.Year - Cesur POLAT - Ayva</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
